/*
	Syntax: 
		selector {
			property: value;   ----------declaration
		}

	selectors:  id, class, tag, universal
		id - #
		class - .
		tag - tagName
		universal - * ---> targets all elements
*/

*{
	font-family: "Roboto", sans-serif;
}

h1, h3 {
	font-family: "Montserrat", sans-serif;
}

img{
	height: 250px;
	width: 250px;
	border: 5px solid orangered;
	border-radius: 100%;
}

#landing{
	/*setting up the height based on the user's screen size*/
	height: 80vh;
	/*flexbox - allows alignment of elements inside the landing section horizontally and vertically*/
	display: flex;
	/*arranges the flex items into a column*/
	flex-direction: column;
	/*centers the alignment of the flex items horizontally*/
	align-items: center;
	/*centers the alignment of the flex items horizontally if they are in a row, and vertically if the flex items are in a column*/
	justify-content: center;
}

.jumbotron{
	background-color: transparent;
}

#gallery{
		height: 75vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff08d;
		border-radius: 6px;
}

ul{
	list-style: none;
	padding: 0;
}

h3{
	color: #007bff;
}

.tools{
	border: 5px solid #f2f2f2;
	margin: 20px;
	padding: 25px;
	height: 200px;
	/*% dependes on the width of the parent element*/
	width: 75%;
}

html{
	scroll-behavior: smooth;
}